{{#each studentData}}
    <tr>
        <td>{{inc @index}}</td>
    <td>{{this.fullname}}</td>
    <td>{{this.rollno}}</td>
    <td>{{this.department}}</td>
    <td>{{this.email}}</td>
    <td>{{this.mobileno}}</td>
    <td>{{this.gender}}</td>
    <td>
        <a href="/studentDatabaseEdit" class="btn btn_update">
            <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
        </a>
        <a class="btn btn_delete">
            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
        </a>
    </td>
    </tr>
{{/each}}
